{% extends 'base.html' %}

{% block container %}

<h1>Ski Resorts in Valais</h1>

<div id="swissmap" style="height: 600px"></div>


<script type="text/javascript">
    var themap = new L.Map('swissmap', {
        crs: L.CRS.EPSG3857,
        continuousWorld: true,
        worldCopyJump: false
    });
    var url = 'https://wmts20.geo.admin.ch/1.0.0/ch.swisstopo.pixelkarte-farbe/default/current/3857/{z}/{x}/{y}.jpeg';
    var tilelayer = new L.tileLayer(url);
    themap.addLayer(tilelayer);
    themap.setView(L.latLng(46.57591, 7.84956), 8);



    var skiresort = {{ resorts | safe }};
    var myLayer = L.geoJSON(skiresort, {

        onEachFeature: onEachFeature
    }).addTo(themap);






    //highlight a go feature

    function highlightFeature(e) {
        var layer = e.target;

        layer.setStyle({
            weight: 10,
            color: '#666',
            dashArray: '',
            fillOpacity: 0.7
        });

        layer.bringToFront();

    }

    function resetHighlight(e) {
        myLayer.resetStyle(e.target);
    }

    // assign event handlers for mouseover, mouseout, click
    function onEachFeature(feature, layer) {
        console.log(feature)
        if (feature.properties.name) {
            layer.bindPopup(feature.properties.name);
        }
        else{
            layer.bindPopup('test');
        }
             var content =
                 '<div>\n' +
                 '    <h5>' + feature.properties.name + '</h5>\n' +
                 '    <p>Open or close pistes in this region</p>\n' +
                 '    <a href="'+ feature.properties.pk +'" class="btn btn-primary">Edit slopes</a>\n' +
                 '</div>';

        layer.bindPopup(content)
        layer.on({
            mouseover: highlightFeature,
            mouseout: resetHighlight,
            click: zoomToFeature
        });
    }

    function zoomToFeature(e) {
        //themap.fitBounds(e.target.getBounds());
    }

    function replaceUTF8(utf8){


    }


</script>
{% endblock %}